@import "tailwindcss";

/* ===========================
   Global Styles
=========================== */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-pink: #ff2d7a;
  --dark-text: #222;
  --light-text: #555;
  --nav-bg: #ffffff;
  --button-hover: #e0266e;
}


body {
  background: #ffffff;
  color: #333;
  direction: rtl; 
  overflow-x: hidden;
}

/* Button Styling */
.button {
  background-color: var(--primary-pink);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
}


.textColor {
  background: linear-gradient(to left, #60a5fa, #f472b6, #a855f7); /* blue-400 → pink-400 → purple-500 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


/* ********************
  Scrollbar Hide
**********************/

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* ********************
  FQA
********************* */
/* FAQ decorative circles */
.faq-circles {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 1px solid #00000034;
  opacity: 0.8;
}

/* Only show 3rd quadrant */
.faq-circles::before,
.faq-circles::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 1px solid #00000034;
}

/* second ring */
.faq-circles::before {
  inset: 40px;
}

/* third ring */
.faq-circles::after {
  inset: 80px;
}

/* mask everything except one quadrant */
.circle-mask {
  position: absolute;
  inset: 0;
  background: #fdf9fc;
}

/* TOP RIGHT */
.circle-top-right {
  top: -250px;
  right: -250px;
}

.circle-top-right .circle-mask {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}

/* BOTTOM LEFT */
.circle-bottom-left {
  bottom: -250px;
  left: -250px;
}

.circle-bottom-left .circle-mask {
  clip-path: polygon(0 100%, 100% 100%, 0 0, 0 100%);
}


/* ********************
  motion
********************* */
@layer utilities {
  .perspective {
    perspective: 1400px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
